<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error_api_force_update</key>
	<string>This is an older version. Please upgrade to a newer one</string>
	<key>error_api_version_not_exist</key>
	<string>Wrong version. Can&apos;t be used</string>
	<key>error_authorization_invalid</key>
	<string>Authorization failed </string>
	<key>error_can_not_follow_yourself</key>
	<string>Can not follow yourself</string>
	<key>error_introduction_format</key>
	<string>Please modify and save again</string>
	<key>error_message_attachment_invalid</key>
	<string>Invalid attachment</string>
	<key>error_network_poor</key>
	<string>Network connection error</string>
	<key>error_nickname_already_exists</key>
	<string>This username is already under use!</string>
	<key>error_nickname_cannot_empty</key>
	<string>Nickname can&apos;t be empty</string>
	<key>error_nickname_cannot_used</key>
	<string>This nickname can&apos;t be used</string>
	<key>error_nickname_invalid</key>
	<string>In nickname, only spaces (&apos; &apos;), periods (&apos;.&apos;) and underscore (&apos;_&apos;) can be used</string>
	<key>error_nickname_modify_count_out</key>
	<string>Can not be modified temporarily</string>
	<key>error_nickname_too_long</key>
	<string>Maximum 20 characters</string>
	<key>error_nickname_too_short</key>
	<string>Minimum 2 characters</string>
	<key>error_not_support_service</key>
	<string>Unknown services error</string>
	<key>error_post_deleted</key>
	<string>The post does not exist</string>
	<key>error_regist_Login_failed</key>
	<string>Login Failed</string>
	<key>error_regist_verification_application_frequently</key>
	<string>The verification code has been sent too many times</string>
	<key>error_regist_verification_incorrect</key>
	<string>Invalid verification code</string>
	<key>error_sex_modify_count_out</key>
	<string>Gender can not be modified </string>
	<key>error_upLoad_failed</key>
	<string>Upload failed</string>
	<key>error_user_block_me</key>
	<string>Because of privacy settings, you can not do this.</string>
	<key>error_user_block_user</key>
	<string>You have blocked this user, please unblock first.</string>
	<key>user_blocked</key>
	<string>Because of privacy settings, you can not do this.</string>
	<key>user_deactivate_message_info</key>
	<string>He/ She is away from Welike. Find them when they are back.</string>
</dict>
</plist>
