<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>article</key>
	<string>Article</string>
	<key>comment_count</key>
	<string> Comment %zd</string>
	<key>comment_detail</key>
	<string>Comment details</string>
	<key>comment_detail_input_placeholder</key>
	<string>Add a comment</string>
	<key>comment_detail_no_reply</key>
	<string>No Comments yet</string>
	<key>comment_detail_view_blog</key>
	<string>View the original post</string>
	<key>comment_menu_forward</key>
	<string>Repost</string>
	<key>comment_menu_like</key>
	<string>Like</string>
	<key>comment_menu_reply</key>
	<string>Comment</string>
	<key>common_feed_list_title</key>
	<string>Interactive</string>
	<key>copy</key>
	<string>Copy</string>
	<key>discover_empty_text</key>
	<string>Oops, the hot feed is hijacked by aliens. Please go to check Latest.</string>
	<key>discover_hot</key>
	<string>HOT</string>
	<key>discover_latest</key>
	<string>LATEST</string>
	<key>discover_status_video</key>
	<string>Video</string>
	<key>feed_comment_sort_latest</key>
	<string>Latest</string>
	<key>feed_comment_sort_top</key>
	<string>Top Comments</string>
	<key>feed_delete_confirm</key>
	<string>Delete</string>
	<key>feed_delete_query</key>
	<string>Do you really want to delete the post?</string>
	<key>feed_detail</key>
	<string>Post details</string>
	<key>feed_detail_comments_ranking_hot</key>
	<string>Hot</string>
	<key>feed_detail_comments_ranking_latest</key>
	<string>Latest</string>
	<key>feed_detail_dialog_share_text</key>
	<string>Share</string>
	<key>feed_detail_input_placeholder</key>
	<string>Add a comment</string>
	<key>feed_detail_menu_comment</key>
	<string>Comments</string>
	<key>feed_detail_menu_forward</key>
	<string>Reposts</string>
	<key>feed_detail_menu_like</key>
	<string>Likes</string>
	<key>feed_detail_multi_comment_more</key>
	<string> comments</string>
	<key>feed_detail_no_comment</key>
	<string>No Comments yet</string>
	<key>feed_detail_no_forward</key>
	<string>No Reposts</string>
	<key>feed_detail_no_like</key>
	<string>No like yet</string>
	<key>feed_detail_see_him</key>
	<string>View</string>
	<key>feed_discover_empty_refresh</key>
	<string>Refresh</string>
	<key>feed_foot_load_error_text</key>
	<string>Loading failed</string>
	<key>feed_foot_loading_text</key>
	<string>Loading</string>
	<key>feed_foot_no_more_text</key>
	<string>No more</string>
	<key>feed_from</key>
	<string>  from </string>
	<key>feed_home_empty_button</key>
	<string>Discover</string>
	<key>feed_home_empty_note</key>
	<string>You have not followed anyone. Tap Discover to find interesting people</string>
	<key>feed_read_count</key>
	<string>views</string>
	<key>feed_recommend_user</key>
	<string>Recommend for you</string>
	<key>feed_refresh_header_finish_new_posts</key>
	<string>New Posts</string>
	<key>feed_refresh_header_finish_none</key>
	<string>No new posts</string>
	<key>feed_share</key>
	<string>Share</string>
	<key>feed_summary_more</key>
	<string>More</string>
	<key>feed_unlike</key>
	<string>Undo like</string>
	<key>forward_feed_delete_content</key>
	<string>The post can't be found. The author might have deleted it</string>
	<key>hot_feed_title</key>
	<string>24hrs Welike</string>
	<key>like_count</key>
	<string> Like %zd</string>
	<key>main_tab_discover</key>
	<string>Discover</string>
	<key>main_tab_home</key>
	<string>Home</string>
	<key>main_tab_me</key>
	<string>Me</string>
	<key>main_tab_message</key>
	<string>Message</string>
	<key>now</key>
	<string>Just now</string>
	<key>poll_about_info_1</key>
	<string>Repost and comment</string>
	<key>poll_cannot_vote_yourself</key>
	<string>You can not vote your own poll. Please try other poll</string>
	<key>poll_comment_default_content</key>
	<string>I have chosen %@, come and vote for what you like.</string>
	<key>poll_day_info</key>
	<string>d </string>
	<key>poll_end_info</key>
	<string>Poll is over · %zd Votes</string>
	<key>poll_hour_info</key>
	<string>h </string>
	<key>poll_no_limit_info</key>
	<string>%zd Votes</string>
	<key>poll_reset_info</key>
	<string>remaining · %zd Votes</string>
	<key>report</key>
	<string>Report</string>
	<key>report_post</key>
	<string>Report %@ post</string>
	<key>report_reason1</key>
	<string>It's pornography,including nudity, sexual arousal and sexual acts</string>
	<key>report_reason2</key>
	<string>It advocates violence or harm to others</string>
	<key>report_reason3</key>
	<string>It is annoying or distasteful</string>
	<key>report_reason4</key>
	<string>Infringement and humiliation</string>
	<key>report_reason_others</key>
	<string>Others</string>
	<key>report_select_reason</key>
	<string>Choose your reason</string>
	<key>report_success_toast</key>
	<string>Thanks for your feedback, Welike will handle it as soon as possible</string>
	<key>repost_count</key>
	<string> Repost %zd</string>
	<key>unkonw_from</key>
	<string>Unknown</string>
	<key>web_links</key>
	<string>Web link address</string>
</dict>
</plist>
