<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discover_search_default</key>
	<string>Search</string>
	<key>discover_top_user</key>
	<string>Leaderboard</string>
	<key>recent_search</key>
	<string>Recent Searches</string>
	<key>search_all_history_text</key>
	<string>All search history</string>
	<key>search_item_follower_text</key>
	<string>%zd Followers</string>
	<key>search_item_like_text</key>
	<string>%zd Likes</string>
	<key>search_latest_people_title</key>
	<string>People</string>
	<key>search_latest_tab</key>
	<string>Latest</string>
	<key>search_no_result</key>
	<string>No data found. Try using a different keyword to search</string>
	<key>search_post_tab</key>
	<string>Posts</string>
	<key>search_user_all_btn</key>
	<string>All</string>
	<key>search_user_tab</key>
	<string>People</string>
</dict>
</plist>
