<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>smile</string>
	</dict>
	<dict>
		<key>name</key>
		<string>laugh</string>
	</dict>
	<dict>
		<key>name</key>
		<string>grin</string>
	</dict>
	<dict>
		<key>name</key>
		<string>awkward</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tears_of_joy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>naughty</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cool</string>
	</dict>
	<dict>
		<key>name</key>
		<string>delicious</string>
	</dict>
	<dict>
		<key>name</key>
		<string>disappointed</string>
	</dict>
	<dict>
		<key>name</key>
		<string>confounded</string>
	</dict>
	<dict>
		<key>name</key>
		<string>crying</string>
	</dict>
	<dict>
		<key>name</key>
		<string>steaming</string>
	</dict>
	<dict>
		<key>name</key>
		<string>scream</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pout</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cold_sweat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sleep</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sick</string>
	</dict>
	<dict>
		<key>name</key>
		<string>love_eye</string>
	</dict>
	<dict>
		<key>name</key>
		<string>blowkiss</string>
	</dict>
	<dict>
		<key>name</key>
		<string>kiss</string>
	</dict>
	<dict>
		<key>name</key>
		<string>follow_me</string>
	</dict>
	<dict>
		<key>name</key>
		<string>look_right</string>
	</dict>
	<dict>
		<key>name</key>
		<string>point_right</string>
	</dict>
	<dict>
		<key>name</key>
		<string>point_down</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hah</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wink</string>
	</dict>
	<dict>
		<key>name</key>
		<string>roar</string>
	</dict>
	<dict>
		<key>name</key>
		<string>angry</string>
	</dict>
	<dict>
		<key>name</key>
		<string>thinking</string>
	</dict>
	<dict>
		<key>name</key>
		<string>smirk</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fearful</string>
	</dict>
	<dict>
		<key>name</key>
		<string>silence</string>
	</dict>
	<dict>
		<key>name</key>
		<string>woo</string>
	</dict>
	<dict>
		<key>name</key>
		<string>dizzy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>devil</string>
	</dict>
	<dict>
		<key>name</key>
		<string>angel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ghost</string>
	</dict>
	<dict>
		<key>name</key>
		<string>rose</string>
	</dict>
	<dict>
		<key>name</key>
		<string>good</string>
	</dict>
	<dict>
		<key>name</key>
		<string>okhand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bad</string>
	</dict>
	<dict>
		<key>name</key>
		<string>pray</string>
	</dict>
	<dict>
		<key>name</key>
		<string>like</string>
	</dict>
	<dict>
		<key>name</key>
		<string>heart_broken</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cloud</string>
	</dict>
	<dict>
		<key>name</key>
		<string>lightning</string>
	</dict>
	<dict>
		<key>name</key>
		<string>rain</string>
	</dict>
	<dict>
		<key>name</key>
		<string>rainbow</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sun</string>
	</dict>
	<dict>
		<key>name</key>
		<string>moon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>fire</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tiger</string>
	</dict>
	<dict>
		<key>name</key>
		<string>elephant</string>
	</dict>
	<dict>
		<key>name</key>
		<string>railway</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boat</string>
	</dict>
	<dict>
		<key>name</key>
		<string>rocket</string>
	</dict>
	<dict>
		<key>name</key>
		<string>car</string>
	</dict>
	<dict>
		<key>name</key>
		<string>petrol</string>
	</dict>
	<dict>
		<key>name</key>
		<string>hamburger</string>
	</dict>
	<dict>
		<key>name</key>
		<string>curry</string>
	</dict>
	<dict>
		<key>name</key>
		<string>coffee</string>
	</dict>
	<dict>
		<key>name</key>
		<string>tea</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cookie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>apple</string>
	</dict>
	<dict>
		<key>name</key>
		<string>balloon</string>
	</dict>
	<dict>
		<key>name</key>
		<string>gift</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cake</string>
	</dict>
	<dict>
		<key>name</key>
		<string>wine</string>
	</dict>
	<dict>
		<key>name</key>
		<string>beer</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cheers</string>
	</dict>
	<dict>
		<key>name</key>
		<string>party</string>
	</dict>
	<dict>
		<key>name</key>
		<string>india</string>
	</dict>
	<dict>
		<key>name</key>
		<string>cricket</string>
	</dict>
	<dict>
		<key>name</key>
		<string>star</string>
	</dict>
	<dict>
		<key>name</key>
		<string>crystal_ball</string>
	</dict>
	<dict>
		<key>name</key>
		<string>lipstick</string>
	</dict>
	<dict>
		<key>name</key>
		<string>trophy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>clapping</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sing</string>
	</dict>
	<dict>
		<key>name</key>
		<string>movie</string>
	</dict>
	<dict>
		<key>name</key>
		<string>game</string>
	</dict>
	<dict>
		<key>name</key>
		<string>graduation</string>
	</dict>
	<dict>
		<key>name</key>
		<string>eyes</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ok</string>
	</dict>
	<dict>
		<key>name</key>
		<string>vs</string>
	</dict>
	<dict>
		<key>name</key>
		<string>love</string>
	</dict>
	<dict>
		<key>name</key>
		<string>alien</string>
	</dict>
	<dict>
		<key>name</key>
		<string>chick</string>
	</dict>
	<dict>
		<key>name</key>
		<string>phone</string>
	</dict>
	<dict>
		<key>name</key>
		<string>crown</string>
	</dict>
	<dict>
		<key>name</key>
		<string>ring</string>
	</dict>
	<dict>
		<key>name</key>
		<string>jewel</string>
	</dict>
	<dict>
		<key>name</key>
		<string>bomb</string>
	</dict>
	<dict>
		<key>name</key>
		<string>xmas_tree</string>
	</dict>
	<dict>
		<key>name</key>
		<string>police</string>
	</dict>
	<dict>
		<key>name</key>
		<string>school</string>
	</dict>
	<dict>
		<key>name</key>
		<string>boy</string>
	</dict>
	<dict>
		<key>name</key>
		<string>girl</string>
	</dict>
	<dict>
		<key>name</key>
		<string>man</string>
	</dict>
	<dict>
		<key>name</key>
		<string>woman</string>
	</dict>
</array>
</plist>
