<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>article</key>
	<string>लेख</string>
	<key>comment_count</key>
	<string> टिप्पणी %zd</string>
	<key>comment_detail</key>
	<string>टिप्पणी विवरण</string>
	<key>comment_detail_input_placeholder</key>
	<string>टिप्पणी दे कीजिए</string>
	<key>comment_detail_no_reply</key>
	<string>कोई रिप्लाई नहीं है</string>
	<key>comment_detail_view_blog</key>
	<string>मूल पोस्ट देखें</string>
	<key>comment_menu_forward</key>
	<string>रेपोस्ट</string>
	<key>comment_menu_like</key>
	<string>लाइक्स</string>
	<key>comment_menu_reply</key>
	<string>रिप्लाई</string>
	<key>common_feed_list_title</key>
	<string>इंटरैक्टिव</string>
	<key>copy</key>
	<string>कॉपी</string>
	<key>discover_empty_text</key>
	<string>अरे कोई त्रुटी है कृप्या ताज़ा के फीड में चेक करें</string>
	<key>discover_status_video</key>
	<string>विडियो</string>
	<key>feed_comment_sort_latest</key>
	<string>ताज़ा</string>
	<key>feed_comment_sort_top</key>
	<string>टॉप कमेंट्स</string>
	<key>feed_delete_confirm</key>
	<string>डिलीट</string>
	<key>feed_delete_query</key>
	<string>क्या आप इस पोस्ट को हटाना चाहते हैं?</string>
	<key>feed_detail</key>
	<string>पोस्ट विवरण</string>
	<key>feed_detail_comments_ranking_hot</key>
	<string>हॉट</string>
	<key>feed_detail_comments_ranking_latest</key>
	<string>लेटेस्ट</string>
	<key>feed_detail_dialog_share_text</key>
	<string>साझा करें</string>
	<key>feed_detail_input_placeholder</key>
	<string>टिप्पणी दे कीजिए</string>
	<key>feed_detail_menu_comment</key>
	<string>टिप्पणियाँ</string>
	<key>feed_detail_menu_forward</key>
	<string>रिपोस्ट्स</string>
	<key>feed_detail_menu_like</key>
	<string>लाइक्स</string>
	<key>feed_detail_multi_comment_more</key>
	<string> टिप्पणियां</string>
	<key>feed_detail_no_comment</key>
	<string>कोई टिप्पणी नहीं है</string>
	<key>feed_detail_no_forward</key>
	<string>कोई रेपोस्ट नहीं है</string>
	<key>feed_detail_no_like</key>
	<string>कोई लाइक नहीं है</string>
	<key>feed_detail_see_him</key>
	<string>देखें</string>
	<key>feed_discover_empty_refresh</key>
	<string>रिफ्रेश करें</string>
	<key>feed_foot_load_error_text</key>
	<string>लोडिंग फ़ैल है</string>
	<key>feed_foot_loading_text</key>
	<string>लोडिंग</string>
	<key>feed_foot_no_more_text</key>
	<string>और कुछ नहीं</string>
	<key>feed_from</key>
	<string>  फ़ोन:</string>
	<key>feed_home_empty_button</key>
	<string>डिस्कवर</string>
	<key>feed_home_empty_note</key>
	<string>आपने अभी भी किसी व्यक्ति को फॉलो नहीं किया है, अपनी दिलचस्पी के व्यक्ति को  खोजने के लिए 'डिस्कवर' टैप करें</string>
	<key>feed_read_count</key>
	<string>ने देखा</string>
	<key>feed_recommend_user</key>
	<string>आपके लिए सिफारिश</string>
	<key>feed_refresh_header_finish_new_posts</key>
	<string>नई पोस्ट</string>
	<key>feed_refresh_header_finish_none</key>
	<string>कोई नई पोस्ट नहीं है</string>
	<key>feed_share</key>
	<string>साझा करें</string>
	<key>feed_summary_more</key>
	<string>पूरा</string>
	<key>feed_unlike</key>
	<string>अनडू लाइक</string>
	<key>forward_feed_delete_content</key>
	<string>यह पोस्ट पाया जा नहीं सकता,शायद वह यूजर से हटाया गया</string>
	<key>hot_feed_title</key>
	<string>24hrs Welike</string>
	<key>like_count</key>
	<string> लाइक %zd</string>
	<key>main_tab_discover</key>
	<string>डिस्कवर</string>
	<key>main_tab_home</key>
	<string>होम</string>
	<key>main_tab_me</key>
	<string>मैं</string>
	<key>main_tab_message</key>
	<string>संदेश</string>
	<key>now</key>
	<string>अभी</string>
	<key>poll_about_info_1</key>
	<string>रेपोस्ट और कमेंट करें</string>
	<key>poll_cannot_vote_yourself</key>
	<string>आप अनपे पोल को वोट कर नहीं सकते, कृप्या अन्य पोल कोशिशि करें.</string>
	<key>poll_comment_default_content</key>
	<string>मैंने %@ चुन लिया है, अपनी पसंद का चुनाव करें</string>
	<key>poll_day_info</key>
	<string>d </string>
	<key>poll_end_info</key>
	<string>पोल समाप्त हो गया · %zd वोट्स </string>
	<key>poll_hour_info</key>
	<string>h </string>
	<key>poll_no_limit_info</key>
	<string>%zd वोट्स</string>
	<key>poll_reset_info</key>
	<string> शेष हैं · %zd वोट्स </string>
	<key>report</key>
	<string>रिपोर्ट</string>
	<key>report_post</key>
	<string>%@ का पोस्ट रिपोर्ट करता(कराती) हूँ</string>
	<key>report_reason1</key>
	<string>यह पोस्ट पोर्न या यौन के बारे में</string>
	<key>report_reason2</key>
	<string>यह हिंसा या दूसरों को नुकसान की वकालत करता है</string>
	<key>report_reason3</key>
	<string>मुझे यह पोस्ट पसंद नहीं है</string>
	<key>report_reason4</key>
	<string>यह पोस्ट उल्लंघन और अपमान दिखाता है</string>
	<key>report_reason_others</key>
	<string>अन्य</string>
	<key>report_select_reason</key>
	<string>आपका कारण चुनें</string>
	<key>report_success_toast</key>
	<string>आपका फ़ीडबैक से धन्यवाद.हम जल्दी से इसे संभाल करें</string>
	<key>repost_count</key>
	<string> रेपोस्ट %zd</string>
	<key>unkonw_from</key>
	<string>अनजान वाला</string>
	<key>web_links</key>
	<string>वेब लिंक्स</string>
</dict>
</plist>
