<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>chat_edit_text_hint</key>
	<string>संदेश लिखें</string>
	<key>chat_sent_a_message</key>
	<string>ने आपको एक संदेश भेज दिया है</string>
	<key>follow_you</key>
	<string>ने आपको फॉलो किया है</string>
	<key>im_chat_loading_text</key>
	<string>लोडिंग</string>
	<key>im_chat_no_more_text</key>
	<string>कोई संदेश नहीं है</string>
	<key>im_content_text_over_limit</key>
	<string>इनपुट अक्षर सीमा से अधिक है</string>
	<key>im_feed_back_text</key>
	<string>फ़ीडबैक</string>
	<key>im_session_pic_message</key>
	<string>[चित्र]</string>
	<key>message_comment_commented_you_post_text</key>
	<string> ने आपकी पोस्ट पर टिप्पणी की</string>
	<key>message_comment_dislike_text</key>
	<string>डिसलाइक</string>
	<key>message_comment_forward_text</key>
	<string>रेपोस्ट</string>
	<key>message_comment_forward_you_text</key>
	<string>  ने आपकी पोस्ट साझा की</string>
	<key>message_comment_like_text</key>
	<string>लाइक</string>
	<key>message_comment_liked_your_comment_text</key>
	<string> ने आपकी टिप्पणी को पसंद किया</string>
	<key>message_comment_liked_your_post_text</key>
	<string> ने आपकी पोस्ट को पसंद किया</string>
	<key>message_comment_liked_your_reply_text</key>
	<string> ने आपका रिप्लाई को पसंद किया</string>
	<key>message_comment_mentioned_you</key>
	<string> ने आपको मेंशन किया गया</string>
	<key>message_comment_reply_text</key>
	<string>टिप्पणी</string>
	<key>message_comment_reply_you_text</key>
	<string> ने आपकी टिप्पणी को रिप्लाई की</string>
	<key>message_comment_reposted_you_comment_text</key>
	<string> ने आपकी टिप्पणी साझा की</string>
	<key>message_comment_reposted_you_post_text</key>
	<string> ने आपकी पोस्ट साझा की</string>
	<key>message_comment_text</key>
	<string>टिप्पणी</string>
	<key>message_like_text</key>
	<string>लाइक्स</string>
	<key>message_mention_text</key>
	<string>@</string>
	<key>message_no_information_text</key>
	<string>कोई सुचना नहीं है</string>
</dict>
</plist>
