<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>gif_tag</key>
	<string>GIF</string>
	<key>picture_all_audio</key>
	<string>सभी ऑडियो</string>
	<key>picture_audio</key>
	<string>रिकॉर्डिंग प्रयोग का अनुमति चाहिए</string>
	<key>picture_audio_empty</key>
	<string>आप रिकॉर्डिंग कर सकते हैं</string>
	<key>picture_camera</key>
	<string>कैमरा प्रयोग का अनुमति चाहिए</string>
	<key>picture_camera_audio_permission</key>
	<string>पोस्ट बनाने के लिए कैमरा/माइक्रोफोन के प्रयोग की अनुमति Welike को दें</string>
	<key>picture_camera_permission</key>
	<string>पोस्ट बनाने के लिए कैमरा के प्रयोग की अनुमति Welike को दें</string>
	<key>picture_camera_roll</key>
	<string>कैमरा रोल</string>
	<key>picture_cancel</key>
	<string>रद्द करें</string>
	<key>picture_completed</key>
	<string>हो गया </string>
	<key>picture_confirm</key>
	<string>ठीक है</string>
	<key>picture_done_front_num</key>
	<string>%zd/%zd चुने हुए</string>
	<key>picture_edit</key>
	<string>Edit Photo</string>
	<key>picture_empty</key>
	<string>आप फ़ोटो या विडियो लेना कर सकें</string>
	<key>picture_empty_audio_title</key>
	<string>कोई ऑडियो नहीं है</string>
	<key>picture_empty_title</key>
	<string>कोई विडियो या फ़ोटो नहीं है</string>
	<key>picture_error</key>
	<string>तस्वीर दूषित है</string>
	<key>picture_jurisdiction</key>
	<string>बाहरी संग्रहण प्रयोग का अनुमति चाहिए</string>
	<key>picture_long_chart</key>
	<string>लंबी तस्वीरें</string>
	<key>picture_message_max_num</key>
	<string>अधिकतम %zd फ़ोटो चुनें</string>
	<key>picture_message_video_max_num</key>
	<string>अधिकत एक विडियो चुनें</string>
	<key>picture_min_img_num</key>
	<string>कम से कम %zd फ़ोटो चाहिए</string>
	<key>picture_min_video_num</key>
	<string>कम से कम %1$d विडियो चुनें</string>
	<key>picture_pause_audio</key>
	<string>ठहरें</string>
	<key>picture_photograph</key>
	<string>फ़ोटो खींचें</string>
	<key>picture_play_audio</key>
	<string>प्ले</string>
	<key>picture_please_select</key>
	<string>कृपया चुननें</string>
	<key>picture_preview</key>
	<string>प्रीव्यू</string>
	<key>picture_prompt</key>
	<string>सेव</string>
	<key>picture_prompt_content</key>
	<string>फ़ोटो को आपके कैमरा रोल में सहेजा जाएगा</string>
	<key>picture_quit_audio</key>
	<string>छोड़ें</string>
	<key>picture_record_video</key>
	<string>विडियो  रिकॉर्ड करें</string>
	<key>picture_rule</key>
	<string>फ़ोटो और विडियो एक साथ चुनने पर मना है.</string>
	<key>picture_save_error</key>
	<string>इमेज सहेज के लिए विफ़ल है</string>
	<key>picture_save_success</key>
	<string>सफ़ल से सहेजा गया</string>
	<key>picture_stop_audio</key>
	<string>रोक करें</string>
	<key>recorder_time</key>
	<string>00:00</string>
	<key>ucrop_label_edit_photo</key>
	<string>कट</string>
	<key>ucrop_label_original</key>
	<string>मूल टाइप</string>
	<key>ucrop_menu_crop</key>
	<string>कट</string>
	<key>video_too_large</key>
	<string>फ़ाइल आकार अधिक बड़ा है</string>
</dict>
</plist>
