<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>error_regist_input_phonenumber_incorrect</key>
	<string>गलत नंबर</string>
	<key>error_regist_input_phonenumber_not_empty</key>
	<string>मोबाइल नंबर खाली नहीं हो सकता</string>
	<key>error_regist_user_head_reupload_avatar</key>
	<string>अपलोड विफ़ल है</string>
	<key>error_regist_user_head_too_large_reupload_avatar</key>
	<string>छवि अपलोड करने में विफल है,आकार बहुत बड़ा है</string>
	<key>regist_choose_language_english</key>
	<string>English</string>
	<key>regist_choose_language_hindi</key>
	<string>हिंदी</string>
	<key>regist_choose_language_title</key>
	<string>भाषा</string>
	<key>regist_choose_language_welcome_title</key>
	<string>आपका स्वागत</string>
	<key>regist_enter_code_resend</key>
	<string>दोबारा भेजें</string>
	<key>regist_enter_code_title</key>
	<string>कृपया वेरिफ़िकेशन कोड दर्ज करें</string>
	<key>regist_get_start</key>
	<string>शुरू करें</string>
	<key>regist_input_mobile</key>
	<string>अपना फोन नंबर दर्ज करें</string>
	<key>regist_input_phonenumber_district</key>
	<string>भारत(91)</string>
	<key>regist_jion_weLike</key>
	<string>हो गया</string>
	<key>regist_login_facebook</key>
	<string>Continue with Facebook</string>
	<key>regist_login_google</key>
	<string>Login with Google</string>
	<key>regist_next_btn</key>
	<string>अगला</string>
	<key>regist_otp_resent</key>
	<string>%zds बाद OTP दोबारा भेजें</string>
	<key>regist_phone_num_title</key>
	<string>फ़ोन नंबर</string>
	<key>regist_recommond_follower</key>
	<string>फॉलोआर की सिफ़ारिशी</string>
	<key>regist_select_language</key>
	<string>भाषा चुनें</string>
	<key>regist_sms_code_back</key>
	<string>नंबर बदलें </string>
	<key>regist_sms_code_hint</key>
	<string>OTP कोड %@
भेजा गया है.कृप्या इसे लिख करें</string>
	<key>regist_sms_code_toast</key>
	<string>कृप्या आराम करें और बादमें दोबारा कोशिशि करें</string>
	<key>regist_suggest_interests_sub_title</key>
	<string>और दो टॉपिक चुनें</string>
	<key>regist_suggest_interests_title</key>
	<string>आपकी दिलचस्प चुनें</string>
	<key>regist_suggest_persons_title</key>
	<string>जअपने का टाइमलाइन बनें</string>
	<key>regist_suggest_persons_title_sub</key>
	<string>जिन लोगों में आप रुचि रखते हैं उन्हें चुनें</string>
	<key>regist_system_back_note</key>
	<string>मुख्य पृष्ठ पर वापस जाने के लिए एक बार फिर वापस क्लिक करें</string>
	<key>regist_terms_service</key>
	<string>सेवा की शर्तें</string>
	<key>regist_terms_service_ex</key>
	<string>मैं %@ की सहमति देता हूँ</string>
	<key>regist_terms_service_ex2</key>
	<string>जारी रखने से मैं स्वीकार करता हूं</string>
	<key>regist_user_head_choose_def_window_next_confirm</key>
	<string>पुष्टि करें</string>
	<key>regist_user_head_choose_def_window_next_skip</key>
	<string>छोड़ें</string>
	<key>regist_user_head_choose_def_window_sum</key>
	<string>गैलरी से चुनें/फ़ोटो खींचें</string>
	<key>regist_user_head_choose_def_window_title</key>
	<string>प्रोफ़ाइल फ़ोटो जोड़ें</string>
	<key>regist_user_info_error_message</key>
	<string>हर उपनाम अद्वितीय है. आप अपना उपनाम बदल सकते हैं</string>
	<key>regist_user_info_input_nickname</key>
	<string>आपका नाम दर्ज करें</string>
	<key>regist_user_info_name</key>
	<string>आप का नाम क्या है? कृप्या लिखें</string>
	<key>regist_user_info_name_hint</key>
	<string>आपका उपनाम लिखें</string>
	<key>regist_user_info_nickname</key>
	<string>नाम</string>
	<key>regist_user_terms_services</key>
	<string>उपयोगकर्ता के नियम और सेवाएं</string>
	<key>regist_welcome_text_four</key>
	<string>अपनी दिलचस्प बातें पोस्ट कर साझा करें</string>
	<key>regist_welcome_text_one</key>
	<string>इसे साझा करें यदि पसंद है</string>
	<key>regist_welcome_text_three</key>
	<string>सुपरलाइक देने केलिए यहाँ लॉन्ग प्रेस करें यदि यह पोस्ट बहुत पसंद है</string>
	<key>regist_welcome_text_two</key>
	<string>अपनी टिप्पणी लिखें</string>
</dict>
</plist>
