<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>discover_search_default</key>
	<string>खोज करें</string>
	<key>discover_top_user</key>
	<string>लीडरबोर्ड</string>
	<key>recent_search</key>
	<string>हाल की खोज</string>
	<key>search_all_history_text</key>
	<string>सब खोज इतिहास</string>
	<key>search_item_follower_text</key>
	<string>%zd फॉलोअर्स</string>
	<key>search_item_like_text</key>
	<string>%zd लाइक्स</string>
	<key>search_latest_people_title</key>
	<string>लोग</string>
	<key>search_latest_tab</key>
	<string>लेटेस्ट</string>
	<key>search_no_result</key>
	<string>कोई डेटा नहीं मिला,दूसरे कीवर्ड के प्रयोग का प्रयास करें</string>
	<key>search_post_tab</key>
	<string>पोस्ट</string>
	<key>search_user_all_btn</key>
	<string>सब</string>
	<key>search_user_tab</key>
	<string>लोग</string>
</dict>
</plist>
