<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>new_topic</key>
	<string>नया टॉपिक</string>
	<key>post_on_this_topic</key>
	<string>इस टॉपिक में पोस्ट करें</string>
	<key>topic_choice_empty_text</key>
	<string>नया टॉपिक जोड़ें,केबल टेक्स्ट,संख्या और स्पेस का प्रयोग हर टॉपिक कम से कम 2 अक्षर</string>
	<key>topic_empty_text</key>
	<string>इस टॉपिक में पहला पोस्ट करने वाला बनें</string>
	<key>topic_offline_error_text</key>
	<string>अरे लागता है कि आप खो गया है</string>
	<key>topic_user_publish_day</key>
	<string>ने %@ पर  इस टॉपिक में पोस्ट किया है</string>
	<key>topic_user_publish_hours</key>
	<string>ने 24 के भीतर में इस टॉपिक में पोस्ट किया है  </string>
	<key>topic_user_publish_just_now</key>
	<string>ने अभी इस टॉपिक में पोस्ट किया है</string>
	<key>topic_user_publish_minutes</key>
	<string>ने कई मिनट पहले  इस टॉपिक में पोस्ट किया है</string>
	<key>topic_user_title</key>
	<string>संबंधित लोग</string>
	<key>user_has_post_on_this_topic</key>
	<string>%zdलोगों ने इस टॉपिक में पोस्ट किया है</string>
	<key>with_text_numbers_and_spaces</key>
	<string>केबल टेक्स्ट,संख्या और स्पेस का प्रयोग</string>
</dict>
</plist>
